<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">



  <!-- CSS only -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/easeljs-NEXT.js"></script>
  <script type="text/javascript" src="/static/js/eventemitter2.js"></script>
  <script type="text/javascript" src="/static/js/roslib.js"></script>
  <script type="text/javascript" src="/static/js/ros2d.js"></script>
  <script type="text/javascript" src="/static/js/nav2d.js"></script>

  <!-- Online Downloaded Stylesheet -->
  <link href="/static/css/style.css" rel="stylesheet">

  <title>M8M Resource Management</title>
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <div id="spinner"
      class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!-- Side navigation bar: Start -->
    {% include "sideNavigationBar.html" %}
    <!-- Side navigation bar: End -->

    <!-- Top navigation bar: Start -->
    <div class="content">
      <!-- Top navigation bar: Start -->
      {% include "TopNavigationBar.html" %}
      <!-- Top navigation bar: End -->

      <!-- Current Robot Status Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-content-card text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0 text-white">Current Robot Status</h4>
            <h4 id="numRbtAvail" class="mb-0 text-white"></h4>
          </div>
          <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
                <tr class="text-white">
                  <th scope="col">Robot ID</th>
                  <th scope="col">Current Location</th>
                  <th scope="col">X</th>
                  <th scope="col">Y</th>
                  <th scope="col">Battery(%)</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody id="curRbtStatus"></tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Current Robot Status End -->
      <div class="container">
      <div class="d-grid gap-2">
			
			
			
        <div class="form-group">
            <label for="exampleFormControlSelect1">Location</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="">Location</option>
              <option value="WH">WH</option>
              <option value="Stn1">Stn1</option>
              <option value="Stn6">Stn6</option>
              <option value="TPUp">TPUp</option>
              <option value="TPDown">TPDown</option>
              <option value="TPLeft">TPLeft</option>
              <option value="CHR">Charging Station</option>
              <option value="FL">Formulation Lab</option>
              <option value="MR">Materials Receiving</option>
              <option value="PL">Packaging Line</option>
            </select>
          </div>
          
          <button type="button" onclick="savepoint()" class="btn btn-primary w-100 mx-2">Save Point</button>

          <button type="button" onclick="moveFun()" class="btn btn-primary w-100 mx-2">Go</button>

          


          <button type="button" onclick="tocharge()" class="btn btn-primary w-100 mx-2">Send to charge</button>

          <button type="button" onclick="stopcharge()" class="btn btn-primary w-100 mx-2">Stop charging</button>

          <button type="button" onclick="resetMotor()" class="btn btn-danger w-100 mx-2">Reset</button>
          <button type="button" onclick="cancelnav()" class="btn btn-danger w-100 mx-2">Cancel Navigation Goal</button>

          </div>
        </div>
      <!-- JavaScript Bundle with Popper -->
      <script src="/static/js/jquery-3.6.0.min.js"></script>
      <script src="/static/js/socket.io.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.js"></script>
      <!-- This Template Javascript -->
      <script src="/static/js/navSpinnerToggler.js"></script>
      <script src="/static/js/amr-control.js"></script>
</body>

<!-- <script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    //Validate json, return true if valid json
    function isJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    }

    function createAutoClosingAlert(selector, delay) {
      var alert = $(selector).alert();
      window.setTimeout(function () { alert.alert('close') }, delay);
    }
  });
</script> -->

</html>