<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-theme.css" rel="stylesheet" />


<script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script type = "text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type = "text/javascript" src="js/bootstrap.bundle.js"></script>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
   
    <h1>Middleware</h1>
    {% block content %}
    {% endblock %}
</body>
</html>