<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">


<!-- CSS only -->
<link rel="stylesheet" href="/static/css/bootstrap.css">



<title>M8M Resource Management</title>







<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">M8M</a>

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Task Model
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="taskmodelquery">Query Task Model</a></li>
            <li><a class="dropdown-item" href="taskmodelcreate">Create Task Model</a></li>
          </ul>
        </li>
        <a class="nav-link" href="configuration">Configuration</a>
        
    </ul>

    <ul class="navbar-nav ms-auto">
     
       
        <span class="navbar-text">
          Hi! You are logged in as <b>{{ current_user.username }}.</b>
        </span>
        <a class="nav-link ms-auto" href="logout">Logout</a> 
      
    </ul>
      
  </ul>
</nav>

  <div class="alert alert-success alert-dismissible " role="alert" id="buttonAlert">
    <strong>Success!</strong> Simulation running in background.
    
</div>
  
  

</head>
<body>
    
    <main>
      
       <!-- PAGE Content -->    
       <section class="py-3 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">M8M Resource Management Software</h1>
            <p class="lead text-muted">Robot Configuration</p>
            
          </div>
        </div>
      </section>

      <h3>Current Available Robot</h3>
              <table class="table">
               <tr>
                   <th>Robot ID</th>
                   <th>Alias</th>
                   <th>Battery Threshold</th>
                   <th>Robot IP</th>
               </tr>
       
               <!-- here is a for-loop to give us all the tasks -->
               {% for rbt in rbtlist %}
               <tr>
                   <td>{{ rbt.rid }}</td>
                   <td>{{ rbt.alias }}</td>
                   <td>{{ rbt.battthres }}%</td>
                   <td>{{ rbt.rip }}</td>
               </tr>
               {% endfor %}
               
              
           </table>

           <h3>Robot Creation</h3>

           <form>
            <div class="form-group row">
              <label for="tskmodno" class="col-sm-2 col-form-label">Robot IP</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="rbtip" name="rbtip" placeholder="Robot IP" value={{rbtip}} >
              </div>
              
            </div>
            <div class="form-group row">
                <label for="tskmodno" class="col-sm-2 col-form-label">Robot Alias</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="alias" name="alias" placeholder="Robot Alias" value={{alias}}>
                </div>
                
              </div>
              <div class="form-group row">
                <label for="rbtype" class="col-sm-2 col-form-label">Robot Type</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Select Robot Type">
                        <option selected>Select Type</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                </div>
                
              </div>
            
            <div class="form-group row">
              <label for="batt" class="col-sm-2 col-form-label" >New Job Battery Threshold</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="battnj" name="battnj" placeholder="New Job Battery Threshold" value={{battnj}}>
              </div>
            </div>
            <div class="form-group row">
              <label for="batt" class="col-sm-2 col-form-label" >Charge Battery Threshold</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="battch" name="battch" placeholder="Charge Battery Threshold" value={{battch}}>
              </div>
            </div>
            <div class="form-group row">
                <button type="button" value="addrbt" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Robot</button>
              </div>
            </div>
          </form>
            
          <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Robot</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
          <p>Are you sure you want to add robot?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>


   


  



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
            <form class="row g-3">
                <div class="col-auto">
                  <select class="form-select" aria-label="Select Task Model ID">
                    <option selected>Select Task Model ID</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Select Action">
                        <option selected>Select Action</option>
                        <option value="1">Move</option>
                        <option value="2">Unload</option>
                        <option value="3">Load</option>
                        <option value="4">Custom Command</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  


    </main>


    

   

    <body class="d-flex flex-column min-vh-100">
      <div class="wrapper flex-grow-1"></div>
      <footer><p>Copyright &copy; 2022 M8M Pte Ltd</p></footer>
  </body>
</body>

<!-- JavaScript Bundle with Popper -->

<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

        
      $("#buttonAlert").hide(); 
//       $("#simulate").click(function(){
//       $("#buttonAlert").show();
//       window.setTimeout(function () { 
//          $("#buttonAlert").hide(); 
//       }, 2000); 
// })

    //Validate json, return true if valid json
      function isJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
      }


      function createAutoClosingAlert(selector, delay) {
        var alert = $(selector).alert();
        window.setTimeout(function() { alert.alert('close') }, delay);
}


      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on('connect', function() {
          socket.emit('my_event', {data: 'I\'m connected!'});
      });

      // Event handler for server sent data.
      // The callback function is invoked whenever the server emits data
      // to the client. The data is then displayed in the "Received"
      // section of the page.
      socket.on('my_response', function(msg, cb) {
          //var s=JSON.stringify(msg.class)
          
            if(isJsonString(msg.class)){
              var o =JSON.parse(msg.class)
              document.getElementById("x_stat").innerHTML = o.x;
              document.getElementById("y_stat").innerHTML = o.y;
            }

          
          // if (cb)
          //     cb();
      });

      // Test response received from server is handled here
      socket.on('test_response', function(msg) {
          $('#log').append('<br>' + $('<div/>').text(msg.data).html());
      })

      // Broadcast response from server is handled here
      socket.on('broadcast_response', function(msg) {
          $('#log').append('<br>' + $('<div/>').text(msg.data).html());
      })

      // Handlers for the different forms in the page.
      // These accept data from the user and send it to the server in a
      // variety of ways
      $('form#test').submit(function(event) {
          socket.emit('test_message', {data: 'Test message sent'});
          return false;
      });
      $('form#broadcast').submit(function(event) {
          socket.emit('broadcast_message', {data: 'broadcast triggered'});
          return false;
      });
  });
</script>


</html>