<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">


<!-- CSS only -->
<link rel="stylesheet" href="/static/css/bootstrap.css">



<title>M8M Resource Management</title>







<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">M8M</a>
 
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task Model
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="taskmodelquery">Query Task Model</a></li>
              <li><a class="dropdown-item" href="taskmodelcreate">Create Task Model</a></li>
            </ul>
          </li>
          <a class="nav-link" href="configuration">Configuration</a>
      </ul>
      
  </nav>

  <div class="alert alert-success alert-dismissible " role="alert" id="buttonAlert">
    <strong>Success!</strong> Simulation running in background.
    
</div>
  
  

</head>
<body>
    
    <main>
      
       <!-- PAGE Content -->    
       <section class="py-3 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">M8M Resource Management Software</h1>
            <p class="lead text-muted">Main Management Interface</p>
            
          </div>
        </div>
      </section>
      <H3>Master Scheduler Status</H3>
      <div id="msinfo"></div>
      <h3>Current PLC Request</h3>
      <div id="reqtable"></div>
        
      <h3>Current Robot Status</h3>
      <div id="outputDiv"></div>

      <h3>Current Task</h3>
      <div id="tasktable"></div>
           
          
  <form method="post">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Task
</button>

  <button type="submit" class="btn btn-primary" id="toastbtn" type="submit" name="type" value="simulate">Simulate Run</button>
  <button type="submit" class="btn btn-primary" id="clear" type="submit" name="type" value="cleartask">Clear Task</button>
  <button type="submit" class="btn btn-primary" id="stn1" type="submit" name="type" value="stn1">Change to Station 1</button>
  <button type="submit" class="btn btn-primary" id="stn2" type="submit" name="type" value="stn2">Change to Station 2</button>
  <button type="submit" class="btn btn-primary" id="localize" type="submit" name="type" value="localize">Localize all robot</button>
</form>
  



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
            <form class="row g-3">
                <div class="col-auto">
                  <select class="form-select" aria-label="Select Task Model ID">
                    <option selected>Select Task Model ID</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Select Action">
                        <option selected>Select Action</option>
                        <option value="1">Move</option>
                        <option value="2">Unload</option>
                        <option value="3">Load</option>
                        <option value="4">Custom Command</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

 
  

  <div class="toast-container position-absolute p-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container position-absolute p-3" >
    <div class="toast fade">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>

        <strong class="me-auto">Starting Simulated Run</strong>
        
      </div>
      <div class="toast-body">
        Simulation will run in background
      </div>
    </div>
  </div>
  

  


    </main>


    

   

    <body class="d-flex flex-column min-vh-100">
      <div class="wrapper flex-grow-1"></div>
      <footer><p>Copyright &copy; 2022 M8M Pte Ltd</p></footer>
  </body>
</body>

<!-- JavaScript Bundle with Popper -->

<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

<script type="text/javascript" charset="utf-8">

//Get data table from flask server
var get_table=function getInfo() {
            let myRequest = new Request('/get_list');
            fetch(myRequest).then(response => response.json()).then(function (data) {
                // let data_table = document.getElementById("data_table");
                // data_table.innerHTML = "";
                // var o =JSON.parse(data['output'])
                // data_table.innerHTML +='<tr>x</tr>'
                // data_table.innerHTML += `<td>${o.rbtinfo[0].x}</td>`
                var o =JSON.parse(data['rbtarr'])
                var HTML = "<div><table class=\"table\">";
                
                //Build robot information table from array
                HTML+= "<tr><th>Robot ID</th><th>Current Location</th><th>ROSINFO</th><th>Availability</th></tr>"

                HTML += "<tr><td>"+o.rbtinfo[0].rid+"</td>";
                HTML += "<td>"+o.rbtinfo[0].currloc+"</td>";
                HTML += "<td>"+o.rbtinfo[0].msg+"</td>";
                HTML += "<td>"+o.rbtinfo[0].avail+"</td></tr>";
                
                HTML += "</table></div>";
                document.getElementById("outputDiv").innerHTML = HTML;

                var taskarr =JSON.parse(data['taskarr'])
                var HTML = "<div><table class=\"table\">";
                
                //Build task information table from array
                HTML+= "<tr><th>Task ID</th><th>Robot ID</th><th>Request ID</th><th>Current Step</th><th>End Step</th><th>Completion</th></tr>"
                for (let i=0;i<taskarr.taskinfo.length;i++){
                HTML += "<tr><td>"+taskarr.taskinfo[i].tid+"</td>";
                HTML += "<td>"+taskarr.taskinfo[i].rid+"</td>";
                HTML += "<td>"+taskarr.taskinfo[i].reqid+"</td>";
                HTML += "<td>"+taskarr.taskinfo[i].currstep+"</td>";
                HTML += "<td>"+taskarr.taskinfo[i].endstep+"</td>";
                HTML += "<td>"+taskarr.taskinfo[i].completed+"</td></tr>";
                }
                HTML += "</table></div>";
                document.getElementById("tasktable").innerHTML = HTML;
                
                //Build request information table from array
                var reqarr =JSON.parse(data['reqarr'])
                var HTML = "<div><table class=\"table\">";
                
                //Build task information table from array
                HTML+= "<tr><th>PLC ID</th><th>Request ID</th><th>Destination</th><th>Task Model</th><th>Status</th></tr>"
                for (let i=0;i<reqarr.reqinfo.length;i++){
                HTML += "<tr><td>"+reqarr.reqinfo[i].plcid+"</td>";
                HTML += "<td>"+reqarr.reqinfo[i].reqid+"</td>";
                HTML += "<td>"+reqarr.reqinfo[i].destloc+"</td>";
                HTML += "<td>"+reqarr.reqinfo[i].tskmodno+"</td>";
                HTML += "<td>"+reqarr.reqinfo[i].status+"</td></tr>";
                }
                HTML += "</table></div>";
                document.getElementById("reqtable").innerHTML = HTML;
                

                var msinfo =(data['msinfo'])
                var HTML = "<div><table class=\"table\">";
                HTML+= "<tr><th>Message</th></tr>"
                HTML += "<tr><td>"+msinfo+"</td></tr>";
                HTML += "</table></div>";
                document.getElementById("msinfo").innerHTML = HTML;

            });
        }
  setInterval(get_table,1000);
  get_table();
  $(document).ready(function() {

    document.getElementById("toastbtn").onclick = function() {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {
        // Creates an array of toasts (it only initializes them)
          return new bootstrap.Toast(toastEl) // No need for options; use the default options
        });
       toastList.forEach(toast => toast.show()); // This show them
   
        console.log(toastList); // Testing to see if it works
      };
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
     

        
      $("#buttonAlert").hide(); 
//       $("#simulate").click(function(){
//       $("#buttonAlert").show();
//       window.setTimeout(function () { 
//          $("#buttonAlert").hide(); 
//       }, 2000); 
// })

    //Validate json, return true if valid json
      function isJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
      }


      function createAutoClosingAlert(selector, delay) {
        var alert = $(selector).alert();
        window.setTimeout(function() { alert.alert('close') }, delay);
}

  });
</script>


</html>