<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">


<!-- CSS only -->
<link rel="stylesheet" href="/static/css/bootstrap.css">



<title>M8M Resource Management</title>







<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">M8M</a>
 
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task Model
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="taskmodelquery">Query Task Model</a></li>
              <li><a class="dropdown-item" href="taskmodelcreate">Create Task Model</a></li>
            </ul>
          </li>
          <a class="nav-link" href="configuration">Configuration</a>
      </ul>
      
  </nav>

  <div class="alert alert-success alert-dismissible " role="alert" id="buttonAlert">
    <strong>Success!</strong> Simulation running in background.
    
</div>
  
  

</head>
<body>
    
    <main>
      
       <!-- PAGE Content -->    
       <section class="py-3 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">M8M Resource Management Software</h1>
            <p class="lead text-muted">Main Management Interface</p>
            
          </div>
        </div>
      </section>

      <h3>Current PLC Request</h3>
              <table class="table">
               <tr>
                   <th>PLC ID</th>
                   <th>Request ID</th>
                   <th>Destination Location</th>
                   <th>Priority</th>
                   <th>Status</th>
               </tr>
       
               <!-- here is a for-loop to give us all the tasks -->
               {% for req in reqlist %}
               <tr>
                   <td>{{ req.plcid }}</td>
                   <td>{{ req.reqid }}</td>
                   <td>{{ req.destloc }}</td>
                   <td>{{ req.priority }}</td>
                   <td>{{req.status}}</td>
               </tr>
               {% endfor %}
               
              
           </table>
            

      
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
              <h3>Current Robot Status</h3>
              <table class="table">
               <tr>
                   <th>Robot ID</th>
                   <th>X</th>
                   <th>Y</th>
               </tr>
       
               <!-- here is a for-loop to give us all the tasks -->
               
               <tr>
                   <td>1</td>
                   <td id="x_stat">x</td>
                   <td id="y_stat">y</td>
               </tr>
              
           </table>
            </div>
            <div class="col-lg-6">
              <h3>Current Tasks</h3>
              <table class="table">
               <tr>
                   <th>Robot Assigned</th>
                   <th>Request ID</th>
                   <th>Task Code</th>
                   <th>Current Step</th>
                   <th>Current Location</th>
               </tr>
       
               <!-- here is a for-loop to give us all the tasks -->
               {% for tsk in tsklist %}
               <tr>
                   <td>{{ tsk.rid }}</td>
                   <td>{{ tsk.reqid }}</td>
                   <td>{{ tsk.tc }}</td>
                   <td>{{ tsk.td }}</td>
                   <td>{{ tsk.startloc }}</td>
               </tr>
               {% endfor %}
           </table>
            </div>
        </div>
    </div>
     
      
       
       
    <h3>Command Line</h3>
    
 

   

  <form method="post">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Task
</button>

  <button type="submit" class="btn btn-primary" id="toastbtn" type="submit" name="type" value="simulate">Simulate Run</button>
</form>
  



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
            <form class="row g-3">
                <div class="col-auto">
                  <select class="form-select" aria-label="Select Task Model ID">
                    <option selected>Select Task Model ID</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Select Action">
                        <option selected>Select Action</option>
                        <option value="1">Move</option>
                        <option value="2">Unload</option>
                        <option value="3">Load</option>
                        <option value="4">Custom Command</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  

  <div class="toast-container position-absolute p-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container position-absolute p-3" >
    <div class="toast fade">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>

        <strong class="me-auto">Starting Simulated Run</strong>
        
      </div>
      <div class="toast-body">
        Simulation will run in background
      </div>
    </div>
  </div>
  

  


    </main>


    

   

    <body class="d-flex flex-column min-vh-100">
      <div class="wrapper flex-grow-1"></div>
      <footer><p>Copyright &copy; 2022 M8M Pte Ltd</p></footer>
  </body>
</body>

<!-- JavaScript Bundle with Popper -->

<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    document.getElementById("toastbtn").onclick = function() {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {
        // Creates an array of toasts (it only initializes them)
          return new bootstrap.Toast(toastEl) // No need for options; use the default options
        });
       toastList.forEach(toast => toast.show()); // This show them
   
        console.log(toastList); // Testing to see if it works
      };
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

        
      $("#buttonAlert").hide(); 
//       $("#simulate").click(function(){
//       $("#buttonAlert").show();
//       window.setTimeout(function () { 
//          $("#buttonAlert").hide(); 
//       }, 2000); 
// })

    //Validate json, return true if valid json
      function isJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
      }


      function createAutoClosingAlert(selector, delay) {
        var alert = $(selector).alert();
        window.setTimeout(function() { alert.alert('close') }, delay);
}


      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on('connect', function() {
          socket.emit('my_event', {data: 'I\'m connected!'});
      });

      // Event handler for server sent data.
      // The callback function is invoked whenever the server emits data
      // to the client. The data is then displayed in the "Received"
      // section of the page.
      socket.on('my_response', function(msg, cb) {
          //var s=JSON.stringify(msg.class)
          
            if(isJsonString(msg.class)){
              var o =JSON.parse(msg.class)
              document.getElementById("x_stat").innerHTML = o.x;
              document.getElementById("y_stat").innerHTML = o.y
            }

          
          // if (cb)
          //     cb();
      });

      // Test response received from server is handled here
      socket.on('test_response', function(msg) {
          $('#log').append('<br>' + $('<div/>').text(msg.data).html());
      })

      // Broadcast response from server is handled here
      socket.on('broadcast_response', function(msg) {
          $('#log').append('<br>' + $('<div/>').text(msg.data).html());
      })

      // Handlers for the different forms in the page.
      // These accept data from the user and send it to the server in a
      // variety of ways
      $('form#test').submit(function(event) {
          socket.emit('test_message', {data: 'Test message sent'});
          return false;
      });
      $('form#broadcast').submit(function(event) {
          socket.emit('broadcast_message', {data: 'broadcast triggered'});
          return false;
      });
  });
</script>


</html>