<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">

<!-- CSS only -->
<link rel="stylesheet" href="/static/css/bootstrap.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <section class="py-3 text-center container">
        <div class="row py-lg-4">
          <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">M8M Resource Management Software</h1>
            <p class="lead text-muted">Please login to continue</p>
            
          </div>
        </div>
      </section>


    <form method="POST" action="">

        {{ form.hidden_tag() }}

        

        <div class="form-outline mb-4">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-outline mb-4">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="d-grid gap-2 mb-4">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        
    </form>

    <!-- <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a> -->
</body>



</html>