<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login: M8M RMS</title>
    <!-- Custom fonts for this template-->
    <link href="/static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet"> -->
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div id="notificationContainer" style="position: fixed; top: 0; left: 0; right: 0; z-index: 9999;"></div>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg p-4">
            <div class="row align-items-center justify-content-evenly">
                <div class="col-md-6 d-flex">
                    <img src="./static/img/m8m-logo.jpg" class="img-fluid" alt="m8m-logo.jpg" />
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Login to Resource Management System</h1>
                    </div>
                    <form id="login_form" method="POST" action="">
                        <div class="form-outline mb-4">
                            <label for = "username">Username: </label><br /> 
                            <input type = "text" id = "username" name = "username" title='Enter your username' 
                            class="form-control" placeholder="Enter your username" required/>
                        </div>
                        <div class="form-outline mb-4">
                            <label for = "password">Password: </label><br /> 
                            <input type="password" id = "password" name = "password" title='Enter your password' class="form-control" 
                            minlength="4" maxlength="20" placeholder="Enter your password" required/>
                        </div>
                        <div class="row align-items-end justify-content-between"
                            style="margin-left:0.2rem; margin-right: 0.2rem;">
                            <div class="col-shrink-width small align-bottom">
                                Don't have an account? <a href="/register">Create an Account!</a>
                            </div>
                            <div class="col-shrink-width">
                                <button type="submit" id = "loginBtn" class="btn btn-primary" form="login_form">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/js/login.js"></script>
    <script src="/static/js/notificationContainer.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sbadmin/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
</body>
</html>