<div class="sidebar pb-3">
    <nav class="navbar" style="background-color: bg-primary;">
      <a href="/" class="navbar-brand mx-4 mb-3" style="width: 200px;">
        <img src="./static/img/m8m-logo.jpg" alt="m8m-logo.jpg"
          style="max-width: 100%; height: auto; overflow:hidden" />
      </a>
      <div class="ms-3 mb-3" style="color: #FFFFFF;">
        <h6 class="mb-0">Resource Management System</h6>
        <span>Designed by M8M</span>
      </div>
      <div class="navbar-nav w-100">
        <a id="sideDbBtn" href="/" class="nav-item nav-link">Dashboard</a>
        <a id="sideAMRBtn" href="/amr-control" class="nav-item nav-link">AMR Management</a>
        <a id="sideWOBtn" href="/task-management" class="nav-item nav-link">Task Management</a>
        <!-- <a id="sideCfgBtn" href="/configuration" class="nav-item nav-link">Configuration</a>
        <div class="nav-item dropdown">
          <a id="sideTskModelBtn" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Task Model</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a id="sideQueryBtn" href="taskmodelquery" class="dropdown-item">Query Task Model</a>
            <a id="sideCreateBtn" href="taskmodelcreate" class="dropdown-item">Create Task Model</a>
          </div>
        </div> -->
      </div>
    </nav>
  </div>