<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">



  <!-- CSS only -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/easeljs-NEXT.js"></script>
  <script type="text/javascript" src="/static/js/eventemitter2.js"></script>
  <script type="text/javascript" src="/static/js/roslib.js"></script>
  <script type="text/javascript" src="/static/js/ros2d.js"></script>
  <script type="text/javascript" src="/static/js/nav2d.js"></script>

  <!-- Online Downloaded Stylesheet -->
  <link href="/static/css/style.css" rel="stylesheet">

  <title>M8M Resource Management</title>
</head>

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <div id="spinner"
      class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!-- Side navigation bar: Start -->
    {% include "sideNavigationBar.html" %}
    <!-- Side navigation bar: End -->

    <!-- Top navigation bar: Start -->
    <div class="content">
      <!-- Top navigation bar: Start -->
      {% include "TopNavigationBar.html" %}
      <!-- Top navigation bar: End -->

      <!-- Current Robot Status Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-content-card text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0 text-white">Current Robot Status</h4>
            <h4 id="numRbtAvail" class="mb-0 text-white"></h4>
          </div>
          <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
                <tr class="text-white">
                  <th scope="col">Robot ID</th>
                  <th scope="col">Current Location</th>
                  <th scope="col">X</th>
                  <th scope="col">Y</th>
                  <th scope="col">Battery(%)</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody id="curRbtStatus"></tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Current Robot Status End -->

      <!-- Current Production Task and Custom Task Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4 mb-4">
          <div class="col-sm-12 col-xl-6">
            <div class="bg-content-card text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div style="vertical-align: bottom;">
                  <h4 class="mb-0 text-white" style="display: inline; margin-right: 0.75rem;">Current Production Task</h4>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    style="color: #19c0e1; text-decoration: none;">
                    <u>Add Task</u>
                  </a>
                </div>
                <h4 id="numProductionTask" class="mb-0 text-white"></h4>
              </div>
              <div class="table-responsive" style="height: calc(50vh - 10px);">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                  <thead>
                    <tr class="text-white">
                      <th scope="col">Task ID</th>
                      <th scope="col">Robot ID</th>
                      <th scope="col">Request ID</th>
                      <th scope="col">Current Step</th>
                      <th scope="col">End Step</th>
                      <th scope="col">Completion</th>
                    </tr>
                  </thead>
                  <tbody id="productionTask"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-xl-6">
            <div class="bg-content-card text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="mb-0 text-white">Current Custom Task</h4>
                <h4 id="numCusTsk" class="mb-0 text-white"></h4>
              </div>
              <div class="table-responsive" style="height: calc(50vh - 10px);">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                  <thead>
                    <tr class="text-white">
                      <th scope="col">Task ID</th>
                      <th scope="col">Robot ID</th>
                      <th scope="col">WMS Request ID</th>
                      <th scope="col">Dest Loc</th>
                      <th scope="col">HS Msg</th>
                      <th scope="col">Task Model ID</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody id="cusTsk"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Current Production Task and Custom Task End -->

        <!-- Current Custom Request and Work Order Start -->
        <div class="row g-4 ">
          <div class="col-sm-12 col-xl-6">
            <div class="bg-content-card text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div style="vertical-align: bottom;">
                  <h4 class="mb-0 text-white" style="display: inline; margin-right: 0.75rem;">Current Custom Request</h4>
                </div>
                <h4 id="numCusReq" class="mb-0 text-white"></h4>
              </div>
              <div class="table-responsive" style="height: calc(50vh - 10px);">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                  <thead>
                    <tr class="text-white">
                      <th scope="col">Custom ID</th>
                      <th scope="col">Request ID</th>
                      <th scope="col">Priority</th>
                      <th scope="col">Date Time</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody id="cusReq"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-xl-6">
            <div class="bg-content-card text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <div style="vertical-align: bottom;">
                  <h4 class="mb-0 text-white" style="display: inline; margin-right: 0.75rem;">Work Order: Station </h4>
                  <div class="btn-group" role="group" style="vertical-align: middle;">
                    <input type="radio" class="btn-check" name="woRadioBtns" id="stn1RadioBtn" value = "1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="stn1RadioBtn">1</label>
          
                    <input type="radio" class="btn-check" name="woRadioBtns" id="stn2RadioBtn" value = "2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="stn2RadioBtn">2</label>
          
                    <input type="radio" class="btn-check" name="woRadioBtns" id="stn3RadioBtn" value = "3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="stn3RadioBtn">3</label>
          
                    <input type="radio" class="btn-check" name="woRadioBtns" id="stn4RadioBtn" value = "4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="stn4RadioBtn">4</label>
          
                    <input type="radio" class="btn-check" name="woRadioBtns" id="stn5RadioBtn" value = "5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="stn5RadioBtn">5</label>
          
                    <input type="radio" class="btn-check" name="woRadioBtns" id="stn6RadioBtn" value = "6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="stn6RadioBtn">6</label>
                  </div>
                </div>
                <h4 id="numWO" class="mb-0 text-white" style="display: inline;"></h4>
              </div>
              <div class="table-responsive" style="height: calc(50vh - 10px);">
                <table  id="woTable" class="table text-start align-middle table-bordered table-hover mb-0">
                  <thead>
                    <tr class="text-white">
                      <th scope="col">State</th>
                      <th scope="col">Batch Num</th>
                      <th scope="col">WO Num</th>
                      <th scope="col">Manufactured Date</th>
                      <th scope="col">FNP Date</th>
                      <th scope="col">Required Qty</th>
                      <th scope="col">Processed Qty</th>
                      <th scope="col">Fill Volume</th>
                      <th scope="col">Target Torque</th>
                      <th scope="col">Status</th>
                      <th scope="col">Order Num</th>
                      <th scope="col">Exp Date</th>
                    </tr>
                  </thead>
                  <tbody id="WO"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Current Custom Request and Work Order Start -->

      </div>

      <!--Add Custom Request, Custom Task Table, WO table -->

      <!-- Modal -->
      <div class="modal fade" id="delCustomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Custom Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form class="row g-3">
                <div class="col-auto">
                  <select class="form-select" aria-label="Select Task Model ID">
                    <option selected>Select Request to delete</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                
                <div class="col-auto">
                  <input class="form-control" type="text" placeholder="Default input"
                    aria-label="default input example">
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Delete Request</button>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript Bundle with Popper -->
      <script src="/static/js/jquery-3.6.0.min.js"></script>
      <script src="/static/js/socket.io.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.js"></script>
      <!-- This Template Javascript -->
      <script src="/static/js/navSpinnerToggler.js"></script>
      <script src="/static/js/task-management.js"></script>
</body>

<!-- <script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    //Validate json, return true if valid json
    function isJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    }

    function createAutoClosingAlert(selector, delay) {
      var alert = $(selector).alert();
      window.setTimeout(function () { alert.alert('close') }, delay);
    }
  });
</script> -->

</html>